<!-- this whole form uses bootstrap for the html class-->
<!-- see ActionView FormHelper documentation for how the form itself works -->
<html>
  <body>
    <p>TESTING THIS SHIT OUT aaa</p>
    <div class="col-md-8 ">
      <div class="form-group">
          <label class="required">Text Field</label>
          <%= text_field_tag 'the variable name here will take on the input', nil, placeholder: 'this is a placeholder', class: 'form-control' %>
      </div>
      <div class="form-group">
          <label class="required">Dropdown</label>
          <%= select_tag("tutor[type_of_tutor]", options_for_select(['CSM (8-12 hours)', 'TA (12 hours)', 'Academic Intern (36 hours)', 'Tutor (12 hours)']), {:class => 'form-control', :required => true}) %>
      </div>
      <div class="form-group">
        <label class="required">Checkboxes</label>
        <%= check_box_tag 'rock', 'rock_music'%>
      </div>
    </div>
  </body>
</html>
