

<form id="email-form" action=<%= requests_email_tutor_path(@tutor) %> method="get">
    <div>
        <label>Please Confirm Meeting Information:</label>
        <h1 id="to-email"></h1>
        <input id="student-id" name="student[id]" type="hidden" value="">
        <input id="tutee-id" name="tutee_id" type="hidden" value="">
        <input id="student-email" name="student[email]" type="hidden" value="">
        <input id="request-id" name="student[requestid]" type="hidden" value="">
        <p id="meeting-length"></p>
        <div class="container1" id="container123">
            <div id="1">
                <input name="Date1" id="Date1" type="text" placeholder="Select Date" required>
                <input name="Time1" id="Time1" type="time" placeholder="HH:MM am/pm" required>
                <input name="Location1" id="Location1" type="text" placeholder="Location" required>
            </div>
        </div>
        <input class="btn btn-primary m-top-10" type="submit" value="Submit">
    </div>
</form>
