<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p> Hi <%= @tutee.first_name %>, </p>
  	<p> <%= "Thanks for completing your meeting with " + @tutor.first_name.to_s + " " + @tutor.last_name.to_s + "!"%> </p>
    <p> Please head to <a href= <%= homepage_url %> ><%= homepage_url %></a> to evaluate your tutor." </p>
    <p>Best, <br> 370 Staff</p>
  </body>
</html>