<p>Meeting Successfully Confirmed!</p>

<p> <%= @message> </p>

<p> You're all set! Please be there on time. </p>

<p> If there is any issue with the scheduling, please communicate with your partner before making changes on the website! </p>
