%body.container.landing_background
  .row.h-100.justify-content-center.align-items-center
    .col-6
      .card.p-4
        = form_tag admin_login_path, class: 'form', id: 'login-form' do
          .h3.text-center.text-info Admin Login
          .form-group
            = label :password, "password", class: 'text-info'
            = password_field_tag :password,'', :placeholder => 'password', class: 'form-control', id:'password'
          = submit_tag 'Login', class: 'btn btn-info btn-md'

-#<%= form_tag admin_login_path do %>
-#  Password: <%= password_field_tag :password %>
-#  <%= submit_tag "Submit" %>
-#
-#<% end %>
