.container-fluid
  / Breadcrumbs
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Tutor Ratings
    %li.breadcrumb-item.active Overview

  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-dashboard
      Rating of all Tutors for semester - #{@current_semester}
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-pencil
      Tutor name - #{@tutors_list.first.first_name}
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-list-alt Tutor Ratings
    .card-body
      .table-responsive
        %table#dataTable.table.table-bordered{:cellspacing => '0', :width => '100%'}
          %thead
            %tr
              %th Tutee
              %th Average of How knowledgeable was your tutor?
              %th Average of How supportive or helpful was your tutor?
              %th Average of How clear were the tutor's explanations?
              %th Composite Score
          -#%tbody
          -#  - @requests.each do |request|
          -#    %tr
          -#      %td= request.tutee.first_name
          -#      %td= request.course.name
          -#      %td= request.subject
          -#      %td= request.created_at.strftime("%Y-%m-%d")
          -#      %td= request.meeting ? 'Matched' : 'Unmatched'