%script(src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js")
= javascript_include_tag 'admin', :type=>'module'
= stylesheet_link_tag 'admins'

.container-fluid
  / Breadcrumbs
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Update Evaluation Questions
    %li.breadcrumb-item.active Overview
  %ul{:id => "question-template-list"}
    - @question_templates.each do |qt|
      %li
        = qt.prompt
  = text_field_tag 'the variable name here will take on the input', nil, placeholder: 'this is a placeholder', class: 'form-control'
