.container-fluid
  
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Update Courses
    %li.breadcrumb-item.active Overview
  / Update courses
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-pencil
      Update Courses:
    .card-body
      Coming soon!
      -# = form_tag admin_post_update_courses_path, class: 'container-fluid' do
      -#   .form-row
      -#     .form-group.col-md-8
      -#       = label :update_courses, :courses, 'Enter courses (one per line):'
      -#       = text_area :update_courses, :courses,rows: 25, col: 3, class: 'form-control', :value => @current_courses, :required => "",
      -#         :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be empty')"
      -#   = submit_tag 'Update courses', :id=>'update_courses', class: 'btn btn-primary'
