%div.font-weight-light{id:"panel-evaluation-responses", style: "display: none"}
  .lead.card-title.text-center.mb-0 Your Evaluation
  %span.glyphicon.glyphicon-remove{style:"cursor: pointer; color:red; position:absolute; right:0.5vw; top:1vh", onclick: "showTutorPanel('statistics',null)"}
  %hr.my-1
  %span{id: 'evaluation-responses-holder-id'}
