%div.font-weight-light{id:"panel-tutoring-statistics"}
  .lead.card-title.text-center.mb-0 Your Statistics
  %hr.my-1
  .row
    .col-9.text-right
      Total Hours Tutored:
    .col-3.pl-0
      69
  .row
    .col-9.text-right
      Hours This Week:
    .col-3.pl-0
      3
  .row
    .col-9.text-right
      Total Hours Remaining:
    .col-3.pl-0
      10
  .lead.card-title.text-center.mb-0.mt-4 CS370 Statistics
  %hr.my-1
  .row
    .col-9.text-right
      Total Hours Tutored:
    .col-3.pl-0
      69
  .row
    .col-9.text-right
      Hours This Week:
    .col-3.pl-0
      3
