-#NOTE: this file really shouldn't be here. Thanks, previous teams. OBJ in future: Move tutor editing to Devise, see if you can modify the registration page to
-#check if it's creating or editing, and change the fields/autofill/look for password confirmation via partials and some basic booleans.

%body.container-fluid.landing_background
  .row.h-100.justify-content-center.align-items-center
    .col-10.pt-3.text-white
      = form_with model: @tutor, url: tutor_path, method: 'put' do |form|
        .row.form-group
          .col-2.pr-1
            %a{href:tutor_path(@tutor), class: 'btn btn-info form-control'}
              Dashboard
        .row.form-group
          .col-2.pr-1
            .card.p-3.h-100.text-center.justify-content-center.custom-slight-transparency-bg.text-white.lead
              Account Info
          .col-10.pl-1
            .form-row
              .col.pt-1
                =form.label :first_name, 'First Name', class:"pl-1"
                =form.text_field :first_name, class:"form-control", value: @tutor.first_name, required: true, placeholder: 'e.g. Oski', pattern:"[a-zA-Z]+$", oninput:"this.setCustomValidity('')", oninvalid:"this.setCustomValidity('Enter your name with only letters only, please')"
              .col.pt-1
                =form.label :last_name, 'Last Name', class:"pl-1"
                =form.text_field :last_name, class:"form-control", value: @tutor.last_name, required: true, placeholder: 'e.g. Tree', pattern:"[a-zA-Z]+$", oninput:"this.setCustomValidity('')", oninvalid:"this.setCustomValidity('Enter your name with letters only, please')"
            .form-row
              .col-7.pt-1
                =form.label :email, 'Email Address', class:"pl-1"
                =form.email_field :email, class:"form-control", value: @tutor.email, required: true, placeholder: 'e.g. stronkbear@berkeley.edu', disabled: true #Can't edit email once you've already confirmed, you only have one @berkeley email.
              .col-3.pt-1
                =form.label :type_of_tutor, 'Tutor Type', class:"pl-1"
                - tutor_types = Admin.tutor_types.split /[\r\n]+/
                =form.select :type_of_tutor, options_for_select(tutor_types, @tutor.type_of_tutor), {include_hidden:false}, class:"selectpicker form-control custom-hide-empty-option", required: true, title: 'The Best Type'

        -# NOTE: Password validation is processed through Devise, which is why this needs to move to Devise functions instead of what we currently have. Until then, all changes are just accepted.
        -#.row.form-group
          .col-2.pr-1
            .card.p-3.h-100.text-center.justify-content-center.custom-slight-transparency-bg.text-white.lead
              Password
          .col-10.pl-1
            .form-row
              .col.pt-1
                =form.label :password, 'New Password', class:"pl-1"
                %i (leave this field blank if you don't want to change it)
                =form.password_field :password, class:"form-control", required: false, minlength: 6
            .form-row
              .col.pt-1
                =form.label :password_confirmation, 'New Password Confirmation', class:"pl-1"
                %i (leave this field blank if you don't want to change it)
                =form.password_field :password_confirmation, class:"form-control", required: false, minlength: 6
            .form-row
              .col.pt-1
                =form.label :existing_password_confirmation, 'Existing Password Confirmation', class:"pl-1"
                %i (required to confirm changes)
                =form.password_field :existing_password_confirmation, class:"form-control", required: true, minlength: 6
        .row.form-group
          .col-2.pr-1
            .card.p-3.h-100.text-center.justify-content-center.custom-slight-transparency-bg.text-white.lead
              Demographic Info
          .col-10.pl-1
            .form-row
              .col.pt-1
                =form.label :gender, 'Gender', class:"pl-1"
                =form.select :gender, options_for_select(['Male','Female','Non-Binary','Prefer not to say'], @tutor.gender), {include_hidden:false}, class:"selectpicker form-control custom-hide-empty-option", required: true, title: 'Go Bears!'
              .col.pt-1
                =form.label :dsp, 'DSP Student?',  class:"pl-1"
                =form.select :dsp, options_for_select([['Yes',true],['No',false]], @tutor.dsp), {include_hidden: false}, class:"selectpicker form-control custom-hide-empty-option", required:true, title: 'Maybe?'
              .col.pt-1
                =form.label :transfer, 'Transfer Student?',  class:"pl-1"
                =form.select :transfer, options_for_select([['Yes',true],['No',false]], @tutor.transfer), {include_hidden: false}, class:"selectpicker form-control custom-hide-empty-option",  required:true, title: 'Maybe?'
            .form-row
              .col.pt-1
                =form.label :term, 'Current Term in Attendance',  class:"pl-1"
                =form.select :term, options_for_select(["1","2","3","4","5","6","7","8","9 or higher"], @tutor.term), {include_hidden: false}, class:"selectpicker form-control custom-hide-empty-option", required:true, title: '9001'
              .col.pt-1
                -major_group_options = [['Declaration',['Intended', 'Declared']],['Field',['Undecided','Computer Science','Data Science','Cognitive Science','EECS','Other']]]
                -current_major = @tutor.major.split(' ', 2)
                -current_major = [current_major[0], current_major[1]]
                =form.label :major, 'Major', class:"text-white pl-1"
                =form.select :major, grouped_options_for_select(major_group_options, current_major), {include_hidden: false}, class:"selectpicker form-control custom-major-multiselect-config", required:true, multiple:true, title: 'Intended, Boba Studies'
        .row.form-group
          .col-2.pr-1
            =form.submit "Confirm Changes", class:"btn btn-info form-control"
