%body.container.landing_background
  .row.h-100.justify-content-center.align-items-center
    .col-8.text-white
      .row
        .display-4.pb-4= "Welcome, "+ @tutor.first_name+"."
      .row
        Testing testing testing
      %table.table.table-dark
        %thead
          %tr
            %th{scope: "col"} test
            %th{scope: "col"} test
            %th{scope: "col"} test
          %tr
