=render 'application/notice'
%body.container.landing_background.justify-content-center
  .row.h-100.justify-content-center.align-items-center.font-weight-light
    .col
      .row.text-white.mb-2
        .col
          .display-4.mb-1= 'Welcome, '+ @user.first_name+'.'
      .row.pb-3
        .col-3.pr-1{id:'user_panel'}
          .card.w-100.h-100.overflow-auto{style:"min-height: 60vh; max-height: 60vh"}
            .card-body
              -#Render partials here for panel
        .col-9.pl-1{id:'user_tables'}
          .card.ml-2.mr-2.h-100{style:"max-height: 60vh"}

      .row
        .col
          =button_to 'Log Out', destroy_user_session_path, method:'delete', class: "btn btn-primary"
        .col.text-right.mr-2
          =button_to 'Edit Account', edit_user_registration_path, method: 'get', class: "btn btn-primary"
