= form_tag admin_login_path, class: 'form', id: 'login-form' do
  .form-group
    = label :password, "password", class: 'text-info'
    = password_field_tag :password,'', :placeholder => 'password', class: 'form-control', id:'password'
  = submit_tag 'Log in', class: 'btn btn-info btn-md'
