.container-fluid

  / Breadcrumbs
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} History
    %li.breadcrumb-item.active Overview


  / DataTables Example
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-list-alt Tutoring History
    .card-body
      .table-responsive
        %table#dataTable.table.table-bordered{:cellspacing => '0', :width => '100%'}
          %thead
            %tr
              %th Course Name
              %th Subject
              %th Meeting Length
              %th created date
          %tbody
            - @requests.each do |request|
              %tr
                %td= request.course.name
                %td= request.subject
                %td= request.meeting_length
                %td= request.created_at
    .card-footer.small.text-muted Updated yesterday at 11:59 PM
/ /.container-fluid
