.request-index {
	white-space: nowrap;
    display: flex;
    flex-direction: column;
    margin: 5%;
}

#email-form {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #00000040;
	z-index: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: opacity .1s linear;
}

.email-body {
	height: 200px;
}

.m-top-10 {
	margin-top: 10px;
}

.close {
	height: fit-content;
    line-height: 13.5px;
}

#email-form > div {
	display: flex;
	flex-direction: column;
	width: 90%;
}

#to-email {
	background: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-between;
    padding: 3px 3px 3px 10px;
}