body {
	margin: 5%;
}

#tutor_table tr td {
	padding-right: 10px;
}

tr.list-group-item {
	display: inline-block;
    width: fit-content;
}

.btn a {
	color: white;
}

.list-group-item {
	display: inline-grid;
    margin: 10px;
}