// Place all the styles related to the Tutors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
  width: 100%;
  border-radius: unset;
}

.required:after {
  content: " *";
  color: red;
}

#tutor_attr {
	display: flex;
	flex-direction: column;
	float: left;
	margin: 0 50px;
	width: fit-content;
	border: 1px solid black;
	border-bottom: none;
}

#new_form_header {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  padding: 27px;
  text-align: center;
  background: #edfcfe;
  color: black;
  font-size: 25px;
  font-family: "Comic Sans MS";
}
#new_form_background {
  width: 1000px;
  height: 600px;
  background: rgba(255, 255, 255, 0.87);
  margin: 25px auto;
  border: 4px groove #1068b7;
  padding: 10px;
  font-family: "Comic Sans MS";
   div {
     color: #000000;
     font-size: 20px;
     text-align: center;
   }
}

#tutor_attr > div {
	padding: 10px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid black;
}

#tutor_attr .value{
	margin-left: 10px;
}

.tutor_title {
	margin: 50px 0 50px 50px;
}

#tutor_table td {
	padding: 0 10px;
}

//from https://bootsnipp.com/snippets/K0ZmK?fbclid=IwAR3NP5KADQJ98t0BNcO-5Qw-7bvYtsf4Zkcztv8tU7zY6lx0jIA-_049swM 

body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 45%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom: 10px;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    padding-top: 0%;
}
.profile-work p{
    font-size: 17px;
    color: black;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab p,
.profile-work label {
    font-weight: 600;
    color: #0062cc;
}

.col-md-4 {
	text-align: center;
	margin: 0 auto;
}


.field {
	color: blue;
}

.berkeley_class_row {
  padding: 2px 20px;

  > *:hover {
    cursor: pointer;
  }
}

.berkeley_class_row:after {
  content: "";
  display: table;
  clear: both;
}

.special-form > * {
  width: fit-content;
  padding-right: 20px;
}