.request-index {
	white-space: nowrap;
    display: flex;
    flex-direction: column;
    margin: 5%;
}

#email-form {
	opacity: 0;
	margin: auto;
	width: 50%;
	height: 50%;
	background: #00000000;
	position: relative;
	margin-top: 50px;
	transition: opacity .1s linear;
	border-radius: 5px;
	border: 1px solid gray;
	padding: 15px 15px 15px 15px;
}

.email-body {
	height: 200px;
}

.m-top-10 {
	margin-top: 10px;
}

.close {
	height: fit-content;
    line-height: 13.5px;
}

#email-form > div {
	margin: auto;
	flex-direction: column;
	width: 90%;
	height: 90%;
}

#to-email {
	background: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-between;
    padding: 3px 3px 3px 10px;
}

.student-row {
	display: flex; 
}

.student-row > p {
	margin-right: 10px;
	line-height: 34px;
	margin-bottom: 0;
}

.background-success::after{
	content: "CS-SCHOLAR";
	line-height: 38px;
	background-color: green;
	color: white;
	padding: 0 10px;
	border-radius: 3px;
}