#new_form_header {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  padding: 27px;
  text-align: center;
  background: #edfcfe;
  color: black;
  font-size: 25px;
  font-family: "Comic Sans MS";
}

#new_form_background {
  width: 1000px;
  height: 600px;
  background: rgba(255, 255, 255, 0.87);
  margin: 25px auto;
  border: 4px groove #1068b7;
  padding: 10px;
  font-family: "Comic Sans MS";
   div {
     color: #000000;
     font-size: 20px;
     text-align: center;
   }
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.container-fluid {
  width: 100%;
  height: 100%;
}

.required:after {
  content: " *";
  color: red;
}

body{
  color: white;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.form-group {
  width: fit-content;
  float: left;
  padding-right: 15px;
}

.center-form {
      padding: 5%;
    width: 1000px;
    min-width: 650px;
    margin: 0 auto;
}

.horiz-form {
  width: 100%;
  
  > *,
  .bc-container {
    width: fit-content;
    float: left;
  }
}

.bc-container {
  display:flex; 
  flex-direction: row;

  label {
    float: left;
    padding: 0px 10px;
    margin: 3px;
    border-radius: .25rem;
  }

  label:hover {
    background-color: #deee067a;
    cursor: pointer;
  }
}

input[type="checkbox"]:checked + label{
  background-color: #deee067a;
}

input[type="checkbox"] {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-row > div:nth-child(2) {
  width: 80%;
}

.form-row > div:nth-child(1) {
  width: 18%;
  background-color: #9e9e9e78;
  color: white;
  margin-right: 2%;
  border-radius: .25rem;
  height: 90%;
  display: flex;
  align-items: center;
}

.lead {
  height: fit-content;
  margin: 0 auto;
}
