// Place all the styles related to the Tutors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tutor_attr {
	display: flex;
	flex-direction: column;
	float: left;
	margin: 0 50px;
	width: fit-content;
	border: 1px solid black;
	border-bottom: none;
}

#tutor_attr > div {
	padding: 10px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid black;
}

#tutor_attr .value{
	margin-left: 10px;
}

.tutor_title {
	margin: 50px 0 50px 50px;
}
