%html
  %head
    %title
      DashBoard
  %body
    %h1 Home
    - if flash[:message]
      .alert.alert-danger
        %span.error= flash[:message]

    %nav
      %a
        = @tutee.first_name + " " + @tutee.last_name
    %div

      / Sidebar
      %ul
        %li
          %a
            %i
            %span Dashboard
        %li
          %a
            %i
              = link_to 'Edit', edit_tutee_path(@tutee)
        %li
          %a
            %i
              Request
              -#= link_to 'Request Tutor', new_request_path
        %li
          %a
            %i
            %span History
      %div
        %div
          / Sticky Footer
          %footer
            %div
              %div
                %span Copyright © UC Berkeley 2019
      / Scroll to Top Button
      %a.scroll-to-top.rounded{:href => "#page-top"}
        %i.fas.fa-angle-up