!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Dashboard

  %body#page-top

    - if flash[:message]
      .alert.alert-danger
        %span.error= flash[:message]

    / Navbar
    %nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
      %a.navbar-brand.mr-1{:href => tutee_path(@tutee)} #{@tutee.first_name + " " + @tutee.last_name}
      %button#sidebarToggle.btn.btn-link.btn-sm.text-white.order-1.order-sm-0{:href => "#"}
        %i.fas.fa-bars
    / Navbar end

    #wrapper
      / Sidebar
      %ul.sidebar.navbar-nav
        %li.nav-item.active
          %a.nav-link{:href => tutee_path(@tutee)}
            %i.fas.fa-fw.fa-tachometer-alt
            %span Dashboard
        %li.nav-item
          %a.nav-link{:href => edit_tutee_path(@tutee)}
            %i.fas.fa-fw.fa-folder
            %span Edit Profile
        %li.nav-item
          %a.nav-link{:href => "charts.html"}
            %i.fas.fa-fw.fa-chart-area
            %span Request
        %li.nav-item
          %a.nav-link{:href => "tables.html"}
            %i.fas.fa-fw.fa-table
            %span History
      / Sidebar end

      #content-wrapper
        .container-fluid

          / Breadcrumbs
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "#"} Dashboard
            %li.breadcrumb-item.active Overview

          / Icon Cards
          .row
            .col-xl-3.col-sm-6.mb-3
              .card.text-white.bg-primary.o-hidden.h-100
                .card-body
                  .card-body-icon
                    %i.fas.fa-fw.fa-comments
                  .mr-5 26 New Messages!
                %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
                  %span.float-left View Details
                  %span.float-right
                    %i.fas.fa-angle-right
            .col-xl-3.col-sm-6.mb-3
              .card.text-white.bg-warning.o-hidden.h-100
                .card-body
                  .card-body-icon
                    %i.fas.fa-fw.fa-list
                  .mr-5 11 New Tasks!
                %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
                  %span.float-left View Details
                  %span.float-right
                    %i.fas.fa-angle-right
            .col-xl-3.col-sm-6.mb-3
              .card.text-white.bg-success.o-hidden.h-100
                .card-body
                  .card-body-icon
                    %i.fas.fa-fw.fa-shopping-cart
                  .mr-5 123 New Orders!
                %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
                  %span.float-left View Details
                  %span.float-right
                    %i.fas.fa-angle-right
            .col-xl-3.col-sm-6.mb-3
              .card.text-white.bg-danger.o-hidden.h-100
                .card-body
                  .card-body-icon
                    %i.fas.fa-fw.fa-life-ring
                  .mr-5 13 New Tickets!
                %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
                  %span.float-left View Details
                  %span.float-right
                    %i.fas.fa-angle-right

          / Area Chart Example
          .card.mb-3
            .card-header
              %i.fas.fa-chart-area
              Area Chart Example
            .card-body
              %canvas#myAreaChart{:height => "30", :width => "100%"}
            .card-footer.small.text-muted Updated yesterday at 11:59 PM

          / DataTables Example
          .card.mb-3
            .card-header
              %i.fas.fa-table
              Data Table Example
            .card-body
              .table-responsive
                %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
                  %thead
                    %tr
                      %th Name
                      %th Position
                      %th Office
                      %th Age
                      %th Start date
                      %th Salary
                  %tfoot
                    %tr
                      %th Name
                      %th Position
                      %th Office
                      %th Age
                      %th Start date
                      %th Salary
                  %tbody
                    %tr
                      %td Tiger Nixon
                      %td System Architect
                      %td Edinburgh
                      %td 61
                      %td 2011/04/25
                      %td $320,800
            .card-footer.small.text-muted Updated yesterday at 11:59 PM
        / /.container-fluid
        / Sticky Footer
        %footer.sticky-footer
          .container.my-auto
            .copyright.text-center.my-auto
              %span Copyright © UC Berkeley 2019


